@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-horizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-texto {
  font-size: 12px;
  padding: 20px;
}
.animacion {
  animation: cambiarFondo 3s linear infinite alternate-reverse;
  background-size: 200% auto;
}
$color-texto: white;
$padding: 10px;
$color-footer: linear-gradient(
  to right top,
  #4cfff0,
  #3ff5ff,
  #75e6ff,
  #acd5ff,
  #d3c5ff,
  #d3c4ff,
  #d4c4ff,
  #d4c3ff,
  #b4d1ff,
  #9addff,
  #91e5fb,
  #9bebe9
);
$large: "(min-width: 992px)";
$medium: "(min-width: 768px) and (max-width: 991px)";

body {
  font-family: Arial, Helvetica, sans-serif;
}
.contenedor-store {
  display: grid;
  border: 1px solid black;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "menu"
    "busqueda"
    "seccion-principal"
    "pie-de-pagina";

  @media #{$medium} {
    min-height: 95vh;
    grid-template-areas:
      "menu busqueda"
      "menu seccion-principal"
      "pie-de-pagina seccion-principal";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 10rem 2fr;
  }
  @media #{$large} {
    min-height: 100vh;
    grid-template-areas:
      "menu menu "
      "busqueda seccion-principal"
      "pie-de-pagina pie-de-pagina";
    grid-template-rows: auto 10fr auto;
    grid-template-columns: 12rem 1fr;
  }
}

.navbarheader {
  padding: $padding;
  grid-area: menu;
  color: $color-texto;
  @extend .animacion;
  background-image: linear-gradient(
    to right top,
    #16ffff,
    #32f3ff,
    #7ae4ff,
    #b2d3ff,
    #d7c3ff,
    #d8c1ff,
    #d9beff,
    #dabcff,
    #b5c7ff,
    #85d3ff,
    #4cddff,
    #00e4ff
  );

  .header-foto .header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .items-logo {
    @extend .flex-horizontal;
    .logo-img {
      width: 13%;
      height: 5%;
      margin-left: 10px;
    }
  }

  .items-nav {
    display: none;
  }

  .items-nav-vertical {
    display: none;
  }

  .items-nav-horizontal {
    display: none;
  }

  @media #{$medium} {
    .header-foto {
      display: none;
    }

    .items-logo {
      font-size: 12px;
      padding: 20px;
      .fa-bars {
        display: none;
      }
      .logo-img {
        width: 100%;
        height: 80%;
        object-fit: contain;
        margin: 0 auto;
        display: block;
      }
    }

    .items-nav-vertical {
      font-size: 14px;
      display: block;
      height: 20%;
      padding: 10px;
      list-style: none;
      li p {
        margin-bottom: 10px;
        font-size: 20;

        .color-tex {
          color: $color-texto;
        }
      }
    }
  }

  @media #{$large} {
    overflow: hidden;

    .items-nav-vertical {
      display: none;
    }

    .items-logo {
      font-size: 15px;
      padding: 5px;
      .fa-bars {
        display: none;
      }
    }

    .items-nav-horizontal {
      display: flex;
      gap: 50px;
      justify-content: space-around;
      align-items: center;
      padding: 14px 16px;
    }
  }
}

.busqueda {
  padding: $padding;
  grid-area: busqueda;
  @extend .animacion;
  background-image: linear-gradient(
    to right top,
    #acd5ff,
    #d3c5ff,
    #cec2ff,
    #c9bfff,
    #c4bcff,
    #8cc6ff,
    #4acefc,
    #1ed2de,
    #4ed1b5
  );
  height: min-content;
  .texbuscaqueda {
    @extend .flex-center;
  }
  .search-input {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
  }

  .search-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0037a1;
    color: white;
    cursor: pointer;
  }

  #search-form {
    padding-top: -5px;
    display: flex;
    align-items: center;
  }

  @media #{$large} {
    height: 100%;
    .search-input {
      width: 95%;
      padding: 10px;
      font-size: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
      margin-right: -5px;
    }

    .search-button {
      padding: 10px 20px;
      font-size: 10px;
      border: none;
      border-radius: 0 5px 5px 0;
      background-color: #0037a1;
      color: $color-texto;
      cursor: pointer;
    }
  }
}

.main-content {
  grid-area: seccion-principal;
  background-color: rgb(255, 255, 255);
  padding: $padding;
  display: grid;
  grid-template-columns: 1fr;

  .contenedor-producto {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;

    .contenedor-img {
      border: 1px solid rgb(231, 216, 216);
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $padding;

      .card_body {
        overflow: hidden;
        transition: all 1s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        .img-prodocto {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        &:hover {
          .img-prodocto {
            transform: translateX(60%);
            opacity: 0.1;
          }
          background-color: rgb(60, 143, 168);
        }
      }

      .card-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        padding: $padding;

        .card_boton {
          height: 30px;
          padding: 10px 20px;
          font-size: 12px;
          border-radius: 5px;
          background-color: #0037a1;
          color: rgb(255, 255, 255);
          cursor: pointer;
          margin-top: 10px;
        }
      }
    }
  }

  @media #{$medium} {
    .contenedor-producto {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media #{$large} {
    .contenedor-producto {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 20px;
  height: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
  z-index: 1;

  .page-link {
    height: 20px;
    padding: 8px 16px;
    margin: 2px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .page-link:hover {
    background-color: #f2f2f2;
  }
}

.pie-pagina {
  padding: 5px;
  grid-area: pie-de-pagina;

  background-image: $color-footer;
  @extend .animacion;
  color: $color-texto;
  @extend .flex-center;
  text-align: center;
  .item-redes {
    @extend .flex-center;
    gap: 5px;
  }
}
@keyframes cambiarFondo {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
